{
  "openapi": "3.1.0",
  "info": {
    "title": "nhanaz.io.vn read-only resources",
    "version": "2026-08-24",
    "description": "A small OpenAPI description of the public resources on nhanaz.io.vn. Document routes are read-only retrieval. The only application-style route is a small public page-view counter, which does not accept credentials or change site content. The versioned API surface is under /api/v1; /api/views remains a compatibility alias. No deprecation or sunset is scheduled for the compatibility alias.",
    "x-api-versioning": {
      "strategy": "URL path",
      "current": "/api/v1",
      "compatibilityAlias": "/api/views",
      "deprecationPolicy": "No deprecation or sunset is scheduled. If that changes, the canonical developer page and this document will be updated first."
    }
  },
  "servers": [
    {
      "url": "https://nhanaz.io.vn"
    }
  ],
  "paths": {
    "/index.md": {
      "get": {
        "operationId": "getHomeMarkdown",
        "summary": "Read the home page in Markdown",
        "description": "Returns the short Markdown entry point for the personal archive.",
        "responses": {
          "200": {
            "description": "Markdown document",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsIndex",
        "summary": "Read the short machine-readable index",
        "description": "Returns routing notes and canonical links for agents.",
        "responses": {
          "200": {
            "description": "Plain-text machine-readable index",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "operationId": "getLlmsFullContext",
        "summary": "Read the full machine-readable context",
        "description": "Returns the longer source-bounded context for the archive.",
        "responses": {
          "200": {
            "description": "Plain-text context document",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/agent.md": {
      "get": {
        "operationId": "getAgentGuidance",
        "summary": "Read agent routing guidance",
        "description": "Returns guidance about when this personal archive is an appropriate source.",
        "responses": {
          "200": {
            "description": "Markdown guidance document",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/developers.md": {
      "get": {
        "operationId": "getDeveloperResources",
        "summary": "Read developer and agent resource notes",
        "description": "Returns the limits and machine-readable entry points for this static site.",
        "responses": {
          "200": {
            "description": "Markdown developer resource document",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/entity.json": {
      "get": {
        "operationId": "getEntityGraph",
        "summary": "Read the public identity graph",
        "description": "Returns the site's public JSON-LD entity graph.",
        "responses": {
          "200": {
            "description": "JSON-LD entity graph",
            "content": {
              "application/ld+json": {
                "schema": { "type": "object" }
              },
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "operationId": "getSitemap",
        "summary": "Read canonical public URLs",
        "description": "Returns the XML sitemap for indexable public pages.",
        "responses": {
          "200": {
            "description": "XML sitemap",
            "content": {
              "application/xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-catalog.json": {
      "get": {
        "operationId": "getAgentResourceCatalog",
        "summary": "Read the ARD catalog",
        "description": "Returns the domain-anchored catalog of read-only Markdown resources.",
        "responses": {
          "200": {
            "description": "Agentic Resource Discovery catalog",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "operationId": "getAgentSkillsIndex",
        "summary": "Read the Agent Skills discovery index",
        "description": "Returns the read-only skill index for the archive.",
        "responses": {
          "200": {
            "description": "Agent Skills discovery document",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/views": {
      "get": {
        "operationId": "getAndIncrementPageViews",
        "summary": "Increment and read a public page-view count",
        "description": "Increments the view count for one normalized public path and returns the new total. This endpoint does not accept credentials and cannot change site content.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "The public path to count, such as /posts/chao-internet/.",
            "schema": {
              "type": "string",
              "pattern": "^/",
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated public view count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["path", "views"],
                  "properties": {
                    "path": { "type": "string" },
                    "views": { "type": "integer", "minimum": 1 }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Only GET is supported",
            "headers": {
              "Allow": {
                "schema": { "type": "string", "example": "GET" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Counter storage is not configured or unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/views": {
      "get": {
        "operationId": "getAndIncrementPageViewsV1",
        "summary": "Increment and read a public page-view count (v1)",
        "description": "Versioned v1 route for the public page-view counter. The unversioned /api/views route remains available as a compatibility alias. This endpoint does not accept credentials and cannot change site content.",
        "parameters": [
          {
            "$ref": "#/paths/~1api~1views/get/parameters/0"
          }
        ],
        "responses": {
          "200": { "$ref": "#/paths/~1api~1views/get/responses/200" },
          "400": { "$ref": "#/paths/~1api~1views/get/responses/400" },
          "405": { "$ref": "#/paths/~1api~1views/get/responses/405" },
          "503": { "$ref": "#/paths/~1api~1views/get/responses/503" }
        }
      }
    },
    "/ask": {
      "get": {
        "operationId": "askArchive",
        "summary": "Search the public archive with NLWeb",
        "description": "Returns ranked links from a small, curated index of public NhanAZ pages. It does not call an LLM, mutate content, or require credentials.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Natural-language search query.",
            "schema": { "type": "string", "minLength": 1, "maxLength": 500 }
          },
          {
            "name": "streaming",
            "in": "query",
            "required": false,
            "description": "Use false for a JSON response. The default for an event-stream request is true.",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "NLWeb search response or event stream",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AskResponse" } },
              "text/event-stream": { "schema": { "type": "string" } }
            }
          },
          "400": { "description": "Invalid query", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "post": {
        "operationId": "askArchivePost",
        "summary": "Search the public archive with NLWeb",
        "description": "NLWeb-compatible POST form. The response is read-only and uses the `_meta.response_type` and `_meta.version` fields.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AskRequest" } } }
        },
        "responses": {
          "200": { "description": "NLWeb response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AskResponse" } }, "text/event-stream": { "schema": { "type": "string" } } } },
          "400": { "description": "Invalid query", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/mcp": {
      "get": {
        "operationId": "getMcpServerInfo",
        "summary": "Read MCP server transport information",
        "description": "Returns public capabilities for the stateless, read-only Streamable HTTP MCP surface.",
        "responses": { "200": { "description": "MCP server information", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/McpServerInfo" } } } } }
      },
      "post": {
        "operationId": "callMcp",
        "summary": "Call the read-only MCP server",
        "description": "Accepts JSON-RPC MCP requests such as initialize, tools/list, resources/list, resources/read, and tools/call. No credentials are required.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/McpRequest" } } } },
        "responses": {
          "200": { "description": "MCP JSON-RPC response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/McpResponse" } } } },
          "400": { "description": "Malformed JSON-RPC request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/mcp/docs": {
      "post": {
        "operationId": "callMcpDocs",
        "summary": "Call the documentation MCP surface",
        "description": "Compatibility endpoint for the same public read-only MCP transport, scoped to documentation resources.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/McpRequest" } } } },
        "responses": { "200": { "description": "MCP JSON-RPC response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/McpResponse" } } } } }
      }
    },
    "/a2a": {
      "get": {
        "operationId": "getA2AInfo",
        "summary": "Read A2A endpoint information",
        "description": "Returns the public Agent Card URL for the read-only A2A interface.",
        "responses": { "200": { "description": "A2A endpoint information", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/A2AResponse" } } } } }
      },
      "post": {
        "operationId": "sendA2AMessage",
        "summary": "Send a read-only A2A message",
        "description": "Accepts a JSON-RPC message/send request and returns links from the curated archive index.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/A2ARequest" } } } },
        "responses": { "200": { "description": "A2A JSON-RPC response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/A2AResponse" } } } } }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "operationId": "getA2AAgentCard",
        "summary": "Read the A2A Agent Card",
        "description": "Returns the public, read-only A2A discovery card.",
        "responses": { "200": { "description": "A2A Agent Card", "content": { "application/a2a+json": { "schema": { "type": "object" } }, "application/json": { "schema": { "type": "object" } } } } }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AskRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "oneOf": [{ "type": "string" }, { "type": "object", "required": ["text"], "properties": { "text": { "type": "string" } }, "additionalProperties": false }] },
          "mode": { "type": "string", "enum": ["list", "summarize", "generate"], "default": "list" },
          "streaming": { "type": "boolean", "default": false },
          "query_id": { "type": "string" }
        },
        "additionalProperties": false
      },
      "AskResponse": {
        "type": "object",
        "required": ["_meta", "query_id", "results"],
        "properties": {
          "_meta": { "type": "object", "required": ["response_type", "version"], "properties": { "response_type": { "type": "string" }, "version": { "type": "string" }, "streaming": { "type": "boolean" } }, "additionalProperties": true },
          "query_id": { "type": "string" },
          "mode": { "type": "string" },
          "summary": { "type": "string" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/ArchiveSearchResult" } }
        },
        "additionalProperties": false
      },
      "ArchiveSearchResult": {
        "type": "object",
        "required": ["url", "name", "site", "score", "description"],
        "properties": { "url": { "type": "string", "format": "uri" }, "name": { "type": "string" }, "site": { "type": "string", "format": "uri" }, "score": { "type": "number" }, "description": { "type": "string" }, "schema_object": { "type": "object" } },
        "additionalProperties": false
      },
      "McpRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": { "jsonrpc": { "const": "2.0" }, "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }, { "type": "null" }] }, "method": { "type": "string" }, "params": { "type": "object" } },
        "additionalProperties": true
      },
      "McpResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": { "jsonrpc": { "const": "2.0" }, "id": {}, "result": {}, "error": { "type": "object" } },
        "additionalProperties": true
      },
      "McpServerInfo": {
        "type": "object",
        "required": ["protocolVersion", "serverInfo", "capabilities"],
        "properties": { "protocolVersion": { "type": "string" }, "serverInfo": { "type": "object" }, "capabilities": { "type": "object" }, "endpoint": { "type": "string", "format": "uri" } },
        "additionalProperties": true
      },
      "A2ARequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": { "jsonrpc": { "const": "2.0" }, "id": {}, "method": { "type": "string", "enum": ["message/send", "tasks/send", "agent/card"] }, "params": { "type": "object" } },
        "additionalProperties": true
      },
      "A2AResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": { "jsonrpc": { "const": "2.0" }, "id": {}, "result": {}, "error": { "type": "object" } },
        "additionalProperties": true
      }
    }
  }
}
